.bgimg-1 {
    background-image: url("images/apex/apex1.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("images/apex/apex2.jpg");
    min-height: 400px;
  }

  .bgimg-all {
    background-image: url("images/apex/apex3.jpeg");
    min-height: 500px;
  }
  
  .bgimg-3 {
    background-image: url("images/apex/apex4.jpg");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("images/apex/apex5.jpg");
    min-height: 100%;
  }

  .specs2{
    position:relative;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    height: 280px;
    text-align: justify;
  }