.bgimg-1 {
    background-image: url("images/cr/CR1.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("images/cr/cr2.jpg");
    min-height: 400px;
  }

  .bgimg-all {
    background-image: url("images/cr/CR3.jpg");
    min-height: 500px;
  }
  
  .bgimg-3 {
    background-image: url("images/cr/cr4.jpg");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("images/cr/CR5.jpg");
    min-height: 100%;
  }

  .specs1{
    position:relative;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    height: 240px;
    text-align: justify;
  }
  