  .bgimg-1 {
    background-image: url("images/fort/f1.png");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("images/fort/f2.jpg");
    min-height: 400px;
  }

  .bgimg-all {
    background-image: url("images/fort/f3.png");
    min-height: 500px;
  }
  
  .bgimg-3 {
    background-image: url("images/fort/f4.png");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("images/fort/f5.png");
    min-height: 100%;
  }
