  .bgimg-1 {
    background-image: url("images/gta/gta1.png");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("images/gta/gta2.jpg");
    min-height: 500px;
  }

  .bgimg-all {
    background-image: url("images/gta/gta3.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("images/gta/gta4.jpg");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("images/gta/gta5.jpg");
    min-height: 100%;
  }
  