.bgimg-1 {
    background-image: url("images/MC/mc1.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("images/MC/mc22.jpg");
    min-height: 400px;
  }

  .bgimg-all {
    background-image: url("images/MC/mc33.jpg");
    min-height: 500px;
  }
  
  .bgimg-3 {
    background-image: url("images/MC/mc4.jpg");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("images/MC/mc5.jpg");
    min-height: 100%;
  }

  .specs1{
    position:relative;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    height: 200px;
    text-align: justify;
  }