  .bgimg-1 {
    background-image: url("images/nfs/nfs1.jpg");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("images/nfs/nfs5.jpg");
    min-height: 400px;
  }

  .bgimg-all {
    background-image: url("images/nfs/nfs2.jpg");
    min-height: 500px;
  }
  
  .bgimg-3 {
    background-image: url("images/nfs/nfs3.jpg");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("images/nfs/nfs4.jpg");
    min-height: 100%;
  }