
body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif
}

.topnav{
    background-size:cover;
    background-position:center;
}
nav {
   display: flex;
   align-items:center;
   background-color: #282e34;
   justify-content: space-between;
   padding-top:0px;
   padding-left:10%;
   padding-right:10%;
}
.mainlogo{
    color:white;
    font: size 25px;
}

.bb{
  text-align: center;
  height: 10px;
  font-size: 10px;
}

span{
    color:#ea1538;
}
nav ul li{
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;
}
nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}
nav ul li a:hover{
    color:#ea1538;
    transition:.3s;
}

nav ul li .active{
  color: #ea1538;
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




/*  Table content and suggestion box  */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column1 {
  float: left;
  margin-left: 8%;
  width: 40%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column2 {
  float: right;
  margin-right: 8%;
  width: 40%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  background-color: white;
  color: black;
  padding: 0 100px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.heading{
  text-align: center;
}

.heading3{
  text-align: center;
  margin-top: 0px;
}

.heading1{
  text-align: center;
  color: white;
  font-size: 20px;
  height: 40px;
  background-color: #282e34;
  padding-top: 10px;
  width: 84%;
  float: left;
  margin-left: 8%;
}

.heading2{
  text-align: center;
  color: white;
  font-size: 20px;
  height: 40px;
  background-color: #282e34;
  padding-top: 3px;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #282e34;
  text-align: center;
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
  border-radius: 12px;
}

.button2 {
  border: white;
  outline: 0.5;
  display: inline-block;
  padding: 8px;
  border-style: solid;
  color: white;
  background-color: #282e34;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-left: 0%;
  border-radius: 12px;
}

.button:hover {
  background-color: #555;
}

.button2:hover {
  background-color: #555;
}

/* SBox */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  margin-left: 10%;
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=text1]{
  vertical-align: top;
  margin-left: 10%;
  width: 80%;
  height: 150px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-left: 15%;
}

input[type=submit] {
  background-color: #048caa;
  color: rgba(255, 255, 255, 0.774);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.span-text{
  padding-top: 20px;
  float:right;
  display: block;
  color: #000;
  font-weight: 300;
  font-style: italic;
}

.container1 {
  background-color: #282e34;
  margin-left: 5%;
  width: 90%;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

.container2 {
  background-color: #282e34;
  margin-left: 5%;
  width: 90%;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-sub{
  float: left;
  width: 75%;
  height: 150px;
  margin-top: 6px;
}


/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.gtt{
  text-align: center;
  font-size: 45px;
  color: black;
}

h1{
  height: 35px;
}

.gt{
  text-align: left;
  font-size: 30px;
  color: black;
  margin-left: 12%;
}

.gt1{
  text-align: center;
  font-size: 30px;
  color: black;
  padding-top: 8px;
}

.abttxt{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  color: black;
}

.abttxt1{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  color: black;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.collapsible {
  background-color: #282e34;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  margin-left: 20%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  border-radius: 12px;
  border-bottom: 5px solid white;
}

.collapsible:hover {
  background-color: #555;
}

.colapsecont {
  width: 100%;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.foot{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: #282e34;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.ftext{
  height: 180px;
  background-color: #282e34;
  margin-bottom: 0;
  font-size: 40px;
  padding-top: 80px;
}

.names{
  color: white;
  text-align: center;
  background-color: #282e34;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 3px;
  padding-bottom: 30px;
}