.bgimg-1 {
  background-image: url("images/valo/valo11.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/valo/valo2.jpg");
  min-height: 400px;
}

.bgimg-all {
  background-image: url("images/valo/valoall.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("images/valo/valo3.png");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("images/valo/valo4.jpg");
  min-height: 100%;
}