.bgimg-1 {
  background-image: url("images/vc/vc1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/vc/vc2.jpg");
  min-height: 400px;
}

.bgimg-all {
  background-image: url("images/vc/vc3.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("images/vc/vc4.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("images/vc/vc5.webp");
  min-height: 100%;
}

.specs1{
  position:relative;
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  height: 200px;
  text-align: justify;
}

.menuimg1 {
  background-color: #333;
  height: 80px;
  width: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top:0;
}

.topcontainer {
  position: absolute;
  margin: 15px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
 
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 09px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background: #ddd;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

